{% extends 'base.html.twig' %}

{% block title %}Todolist index{% endblock %}

{% block body %}
    <h1>Todolist index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for todolist in todolists %}
            <tr>
                <td>{{ todolist.id }}</td>
                <td>{{ todolist.title }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('todolist_new') }}">Create new</a>
{% endblock %}
