{% extends 'base.html.twig' %}

{% block title %}Todolist{% endblock %}

{% block body %}
    <h1>Todolist</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ todolist.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ todolist.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('todolist_index') }}">back to list</a>

    <a href="{{ path('todolist_edit', {'id': todolist.id}) }}">edit</a>

    {{ include('todolist/_delete_form.html.twig') }}
{% endblock %}
